.header {
  background-color: white;
  padding: 10px;
  margin-bottom: 25px;
  .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    .header__column {
      a {
          display: flex;
          align-items: center;
          i {
              color: $red;            
              font-size: 30px;
              margin-right: 5px;
          }
          div {
              font-size: 30px;
              font-weight: 600;
              letter-spacing: -2px;
          }
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
      }
      ul {
        display: flex;
        color: #585858;
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
      form {
        width: 100%;
        input {
            border: solid;
            padding: 7px 10px;
            width: 100%;
            border-radius: 5px;
            font-size: 14px;
            color: $black;
            font-weight: 600;
            max-width: none;
            border-color: $dark-grey;
            &::placeholder {
                font-weight: 300;
                color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}